<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Game</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

<div class="container" id="app">

    <div class="row">
        <h3>GAME INFORMATION:</h3>
        <span>{{me ? me.userName  : "" }} (YOU)</span>
        <span>VS</span>
        <span>{{otherPlayer ? otherPlayer.userName  : ""}}</span>
    </div>

    <!--ARREGLAR DESPUES EL TEMA DEL CLASS="COL" / ESTO LO HICE PARA PODER ARMAR EL FRONT-->
    <div class="row">
        <div class="col-8">
            <h3>Game Grid</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th v-for="number in numbers">{{number}}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="letter in letters">
                    <td>{{letter}}</td>
                    <td v-bind:id="letter+number" v-for="number in 10">{{ }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            Choose your ships locations
        </div>
    </div>

    <div class="row">
        <h3>Your Salvoes</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th v-for="num in numbers">{{num}}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="let in letters">
                <td>{{let}}</td>
                <td v-bind:id="let+num + 'S'" v-for="num in 10">{{ }}</td>
            </tr>
            </tbody>
        </table>
    </div>


</div>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script src="scripts/game_view.js"></script>
</body>
</html>
